Source: ses-cor
Section: unknown
Priority: extra
Maintainer: PIH <medinfo@pih.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://github.com/PIH

Package: ses-cor
Architecture: all
Depends: ${misc:Depends}
Description: Implementation of OpenMRS for Partners In Health Peru
 This package install the OpenMRS war file and the necessary
 modules that compose PIH Peru's COR implementation.